<mat-card class="vote-card">
  <mat-card-header>
    <mat-card-title>{{poll.naam}}
    </mat-card-title>
  </mat-card-header>

  <!-- antwoorden kaart -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Antwoorden</mat-card-title>
    </mat-card-header>
    <div *ngFor="let a of poll.antwoorden" fxLayout="column" fxLayoutAlign="center left" fxLayoutGap="20px">

      <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <p>{{a.naam}} ({{a.stemmen.length}})</p>

        <button [disabled]="gestemd" mat-raised-button color="primary" (click)="stem(a.antwoordID)">Stem</button>
      </div>
      <mat-progress-bar mode="determinate" value="{{ a.stemmen.length/totaalStemmen*100 | number }}">
      </mat-progress-bar>
      <div>
        <mat-divider></mat-divider>
      </div>

    </div>
    <mat-card-actions>
      <button [disabled]="!gestemd" mat-raised-button color="primary" (click)="stemAnnuleren()">Stem
        annuleren</button>
    </mat-card-actions>
  </mat-card>

  <!-- users kaart -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Users</mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item *ngFor="let u of users">{{u.username}}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>

</mat-card>




<!-- <mat-list>
      <mat-list-item *ngFor="let a of poll.antwoorden">{{a.naam}} ({{a.stemmen.length}})

        <button [disabled]="gestemd" mat-raised-button color="primary" (click)="stem(a.antwoordID)">Stem</button>

        <mat-progress-bar mode="determinate" value="{{ a.stemmen.length/totaalStemmen*100 | number }}">
        </mat-progress-bar>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list> -->
