<mat-card class="friends-card">
    <mat-card-header>
      <mat-card-title>
        <p>Friendrequests</p>
      </mat-card-title>
      <br>
    </mat-card-header>
    <mat-card-content>

      Requests
      <mat-list>
        <mat-list-item *ngFor="let r of requests">
          <p>{{r.sender.username}}</p>
          <button mat-raised-button color="primary" (click)="accept(r.friendID)">Accepteer</button>
          <button mat-raised-button color="accent" (click)="reject(r.friendID)">Afwijzen</button>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
  </mat-card>