<h3>Dashboard</h3>
<div id="dashboard">
  <mat-card class="polls-card">
    <mat-card-header>
      <mat-card-title>
        <p><a (click)="goToPolls()">Polls</a></p>
      </mat-card-title>
      <br>
      <p><button class="add" mat-raised-button color="primary" (click)="goToAddPoll()">New Poll</button></p>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        Eigen Polls
        <div *ngFor="let p of pollsAdmin">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{p.naam}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-divider></mat-divider>
              <mat-list>
                <mat-list-item *ngFor="let a of p.antwoorden">{{a.naam}} ({{a.stemmen.length}})</mat-list-item>
              </mat-list>

              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" (click)="vote(p)">Vote</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </mat-card>

      <mat-card>
        Uitgenodigd voor Poll
        <div *ngFor="let p of pollsUser">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{p.naam}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-divider></mat-divider>
              <mat-list>
                <mat-list-item *ngFor="let a of p.antwoorden">{{a.naam}} ({{a.stemmen.length}})</mat-list-item>
              </mat-list>

              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" (click)="vote(p)">Vote</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </mat-card>

    </mat-card-content>
  </mat-card>


  <mat-card class="friends-card">
    <mat-card-header>
      <mat-card-title>
        <p>Friends</p>
      </mat-card-title>
      <br>
      <p><button class="add" mat-raised-button color="primary">Vriend uitnodigen</button></p>
    </mat-card-header>
    <mat-card-content>
      Friends
      <mat-list>
        <mat-list-item *ngFor="let f of friends">{{f.sender.username}} - {{f.ontvanger.username}} </mat-list-item>
      </mat-list>

        <p matBadge="{{requests.length}}" matBadgePosition="before" matBadgeOverlap="false">Requests</p>
      <mat-list>
        <mat-list-item *ngFor="let r of requests">
          <p>{{r.sender.username}}</p>
          <button mat-raised-button color="primary" (click)="accept(r.friendID)">Accepteer</button>
          <button mat-raised-button color="accent" (click)="reject(r.friendID)">Afwijzen</button>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
  </mat-card>
</div>
