<div class="container">
  <mat-card class="login-card"  layout-align="center center">
    <mat-card-header>
      <mat-card-title>LOGIN</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>Username :
          <mat-form-field>
            <input matInput type="text" formControlName="username" />
          </mat-form-field>
        </p>
        <p>Password :
          <mat-form-field>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </p>
      
        <p><button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Log in</button></p>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" class="btn btn-success" (click)="goToSignup()">Signup</button>
    </mat-card-actions>
  </mat-card>
</div>
