<nav>
  <mat-sidenav-container class="nav-container">
    <mat-sidenav mode="side" opened="true">
      <mat-nav-list>
        <a mat-list-item routerLink="/security" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Security/login</a>
        <a mat-list-item routerLink="/signup" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">signup</a>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">dashboard</a>

        <mat-divider></mat-divider>
        <a mat-list-item class="menu">
          <mat-icon svgIcon="poll" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <p>Polls</p>
        </a>
        <a mat-list-item routerLink="/addpoll" routerLinkActive="active" class="submenu"
          [routerLinkActiveOptions]="{ exact: true }">Nieuwe Poll</a>
        <a mat-list-item routerLink="/poll" routerLinkActive="active" class="submenu"
          [routerLinkActiveOptions]="{ exact: true }">Polls</a>

        <mat-divider></mat-divider>
        <a mat-list-item class="menu">
          <mat-icon svgIcon="friends" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <p>Friends</p>
        </a>
        <a mat-list-item routerLink="/addpoll" routerLinkActive="active" class="submenu"
          [routerLinkActiveOptions]="{ exact: true }">Uitnodigen</a>

		  <mat-divider></mat-divider>
        
        <a mat-list-item *ngIf="currentUser">
				
          <mat-icon svgIcon="account" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <p> {{currentUser.username}}</p>
            <button mat-raised-button color="primary" (click)="logoff()">Logout</button>
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</nav>
