.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-sidenav {
  width: 20%;
}
.submenu{
  margin-left: 15%;
}
mat-icon{
  margin-right: 5%;
}
.logo {
  background-image: url('../assets/img/logo.png');
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 5%;
}