<div class="container">
  <mat-card class="signup-card" layout-align="center center">
    <mat-card-header>
      <mat-card-title>SIGNUP</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="createUserform" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field>
            <input matInput type="text" placeholder="Username" formControlName="username" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput type="text" placeholder="Email" formControlName="email" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput type="password" placeholder="Repeat password" formControlName="repeatPassword" />
          </mat-form-field>
        </p>
        <p><button mat-raised-button color="accent" type="submit" [disabled]="!createUserform.valid">Submit</button>
          <p *ngIf="melding">{{melding}}</p>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="btn btn-success" (click)="goToLogin()">Back to log in</button>
    </mat-card-actions>
  </mat-card>
</div>
