<mat-card class="home-card">
    <mat-card-header>
      <div mat-card-avatar class="logo"></div>
      <mat-card-title>POLL LABS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
       Fun fact
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" class="btn btn-success" (click)="goToLogin()">Login</button>
      <button mat-raised-button color="primary" class="btn btn-success" (click)="goToSignup()">Signup</button>
    </mat-card-actions>
  </mat-card>
  